Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              cd ${env.WORKSPACE}
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker stop gateway-service || true
                              docker rm gateway-service || true
                              docker rmi gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker stop user-service || true
                              docker rm user-service || true
                              docker rmi user-service || true
  ...

Build and Deploy Compute Service:
                      steps {
                          script {
                              sh """
                                  docker stop compute-service || true
                                  docker rm compute-service || true
                                  docker rmi compute-service || true
  ...

Build and Deploy Deployment Service:
                      steps {
                          script {
                              sh """
                                  docker stop deployment-service || true
                                  docker rm deployment-service || true
  ...

Build and Deploy Project Service:
                      steps {
                          script {
                              sh """
                                  docker stop project-service || true
                                  docker rm project-service || true
                                  docker rmi project-service || true
  ...

feat : 데이터베이스 nullable
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Build and Deploy Deployment Service

fix : 에러처리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
Due: Build and Deploy Deployment Service

test : RestDocs 생성, 삭제, 조회, 검색조회 테스트
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/EnvCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/EnvUpdateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/EnvResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Build and Deploy Deployment Service

fix : Databse Nullable하도록 처리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Build and Deploy Deployment Service

fix : Dommain Openfeign 주석 제거
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Build and Deploy Deployment Service

Database Nullable -> 값이 존재하면 해당 값을 체크하도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Build and Deploy Deployment Service

feat : 데이터베이스 정보 null이면 처리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Build and Deploy Deployment Service

프로젝트 테스트
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/config/RestDocsConfig.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
  project-service/src/test/java/com/ttalkak/project/project/support/RestDocsSupport.java
Due: Build and Deploy Project Service

compute 서버 수정
  compute-service/build.gradle.kts
  compute-service/src/main/kotlin/com/ttalkak/compute/ComputeServiceApplication.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeRunningRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/RunningCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeUserCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/DeploymentFeignClient.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/DeploymentUpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/CreateRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/LoadRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/RunningCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/UpsertRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeRunning.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningStatus.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UpdateComputeStatusEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/config/RedisConfig.kt
  gateway-service/src/main/java/com/ttalkak/gateway/config/CorsConfig.java
Due: Build and Deploy Gateway Service, Build and Deploy Compute Service

compute 서비스 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/DeploymentStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/DeploymentCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/DeploymentStatusCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/DeploymentCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveDeploymentStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

fix : 배포 삭제 수정, test : 배포 상태 변경 테스트
  deployment-service/build.gradle
  deployment-service/src/docs/asciidocs/api/deployment/create.adoc
  deployment-service/src/docs/asciidocs/api/deployment/delete.adoc
  deployment-service/src/docs/asciidocs/api/deployment/get.adoc
  deployment-service/src/docs/asciidocs/api/deployment/search.adoc
  deployment-service/src/docs/asciidocs/index.adoc
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/projectadapter/dto/ProjectInfoResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCommandStatusRequest.java
  deployment-service/src/main/resources/application.yml
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
  deployment-service/src/test/resources/org/framework/restdocs/templates/request-fields.snippet
  deployment-service/src/test/resources/org/framework/restdocs/templates/response-fields.snippet
Due: Build and Deploy Deployment Service

fix : 배포 수정할 때 권한 확인하도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Build and Deploy Deployment Service

feat : 데이터베이스 반환하도록 수정 중
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentResponse.java
Due: Build and Deploy Deployment Service

feat : databaseRseponse 반환하도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentResponse.java
Due: Build and Deploy Deployment Service

빌드시 테스트 안해게 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningCommand.kt
  deployment-service/build.gradle
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/projectadapter/dto/ProjectInfoResponse.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/DeleteProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/repository/ProjectJpaRepository.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/ProjectKafkaProducer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectResponse.java
Due: Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

test : 데이터베이스 반환값 추가로인한 오류 수정
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Build and Deploy Deployment Service

config : build.gradle 테스트 실행하지 않도록 만드는 코드 삭제
  deployment-service/build.gradle
Due: Build and Deploy Deployment Service

Jenkins 파일 수정
  Jenkinsfile
  deployment-service/Dockerfile
  deployment-service/Dockerfile.prod
  deployment-service/build.gradle
Due: Build and Deploy Deployment Service

fix : Deployment yml파일 수정
  deployment-service/src/main/resources/application.yml
Due: Build and Deploy Deployment Service

deployment 서비스 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/projectadapter/dto/ProjectInfoResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentFeignController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentResponse.java
Due: Build and Deploy Deployment Service

deployment 수정
  deployment-service/src/main/java/com/ttalkak/deployment/common/ApiResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentCreateResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Build and Deploy Deployment Service

feat : Jenkins CI 구현
  Jenkinsfile
Due: none

fix : DeploymentResponse 상세조회, 검색조회 DTO 분리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/InquiryUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentFeignController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Build and Deploy Deployment Service

refactor : 주석 제거, 불필요한 띄어쓰기 제거
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Build and Deploy Deployment Service

fix : Jenkins 오타 제거
  .idea/compiler.xml
  .idea/workspace.xml
  Jenkinsfile
Due: none

refactor : 불필요한 import 제거
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Build and Deploy Deployment Service

feat : Command Enum으로 처리하도록 수정
  .idea/workspace.xml
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseType.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CommandEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCommandStatusRequest.java
Due: Build and Deploy Compute Service, Build and Deploy Deployment Service

feat : 배포 삭제하는 경우 Kafka 요청하도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/EnvResponse.java
Due: Build and Deploy Deployment Service

test :테스트 코드 작성
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseUpdateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/HostingResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Build and Deploy Deployment Service

프로젝트 테스트
  deployment-service/build.gradle
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/CreateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usercase/CreateProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usercase/GetProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/DeploymentResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/EnvResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/HostingResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/DomainNameRequest.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/ProjectUpdateRequest.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectCreateResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectPageResponse.java
  project-service/src/test/java/com/ttalkak/project/project/config/RestDocsConfig.java
  project-service/src/test/java/com/ttalkak/project/project/config/RestDocsUtils.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
  project-service/src/test/java/com/ttalkak/project/project/support/RestDocsSupport.java
Due: Build and Deploy Deployment Service, Build and Deploy Project Service

deployment 리빌드 처리
  deployment-service/src/main/java/com/ttalkak/deployment/config/ProjectFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DeploymentOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DomainOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/EventOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/GithubOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/HostingOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/ProjectOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookCommand.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/HostingEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DeploymentAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/HostingAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DeploymentRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/HostingRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeploymentKafkaProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/projectadapter/ProjectAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/projectadapter/dto/ProjectWebHookResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentWebHookRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/WebHookRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/WebHookUser.java
  deployment-service/src/main/resources/application.yml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadProjectOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usercase/GetProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/repository/ProjectJpaRepository.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectFeignController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectWebHookResponse.java
Due: Build and Deploy Deployment Service, Build and Deploy Project Service

웹 훅 추가
  gateway-service/src/main/resources/application.yml
Due: Build and Deploy Gateway Service

배포 오류 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
  project-service/Dockerfile.prod
Due: Build and Deploy Deployment Service, Build and Deploy Project Service

feat : 배포 상태 명령 Controller URL 변경
  .idea/compiler.xml
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Build and Deploy Deployment Service

docker file 수정
  deployment-service/Dockerfile.prod
  project-service/Dockerfile.prod
Due: Build and Deploy Deployment Service, Build and Deploy Project Service

테스트 코드
  Jenkinsfile
  deployment-service/Dockerfile.prod
  project-service/Dockerfile.prod
Due: Build and Deploy Deployment Service, Build and Deploy Project Service

deploymentId 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

test : test코드 주석 처리
  .idea/workspace.xml
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Build and Deploy Deployment Service

feat : 버전 추가중
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/VersionOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/VersionEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/GithubInfo.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/VersionAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/VersionRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/VersionRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Build and Deploy Deployment Service

feat : 배포 버전 기능 생성 + hostingIp 삭제
  .idea/compiler.xml
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/HostingEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/VersionEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Build and Deploy Deployment Service

Path conditions:
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
