Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Build and Deploy Eureka Server:
                      steps {
                          script {
                              def imageName = "${DOCKER_HUB_USERNAME}/eureka-server:${env.BUILD_NUMBER}"
                              def dockerImage = docker.build(imageName, "eureka-server/")
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              def imageName = "${DOCKER_HUB_USERNAME}/config-server:${env.BUILD_NUMBER}"
                              def dockerImage = docker.build(imageName, "config-server/")
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              def imageName = "${DOCKER_HUB_USERNAME}/gateway-service:${env.BUILD_NUMBER}"
                              def dockerImage = docker.build(imageName, "gateway-service/")
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              def imageName = "${DOCKER_HUB_USERNAME}/user-service:${env.BUILD_NUMBER}"
                              def dockerImage = docker.build(imageName, "user-service/")
  ...

Build and Deploy Compute Service:
                      steps {
                          script {
                              def imageName = "${DOCKER_HUB_USERNAME}/compute-service:${env.BUILD_NUMBER}"
                              def dockerImage = docker.build(imageName, "compute-service/")
  ...

Build and Deploy Deployment Service:
                      steps {
                          script {
                              def imageName = "${DOCKER_HUB_USERNAME}/deployment-service:${env.BUILD_NUMBER}"
                              def dockerImage = docker.build(imageName, "deployment-service/")
  ...

Build and Deploy Project Service:
                      steps {
                          script {
                              def imageName = "${DOCKER_HUB_USERNAME}/project-service:${env.BUILD_NUMBER}"
                              def dockerImage = docker.build(imageName, "project-service/")
  ...

fix : HostingCreateRequest 삭제
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/HostingCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/HostingUpdateRequest.java
Due: Build and Deploy Deployment Service

feat : 데이터베이스 null 가능하도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
Due: Build and Deploy Deployment Service

feat : github branch 필드 추가
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/GithubInfo.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/GithubRepositoryRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentResponse.java
Due: Build and Deploy Deployment Service

Jenkins Test
  project-service/Dockerfile
Due: Build and Deploy Project Service

Update Jenkinsfile
  Jenkinsfile
Due: none

유저 서비스 불필요한 임포트 수정
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/UserController.java
Due: Build and Deploy User Service

젠킨스 파일 수정
  Jenkinsfile
Due: none

유저 서비스 로직 수정
  user-service/src/main/java/com/ttalkak/user/user/application/port/in/FindUserUseCase.java
Due: Build and Deploy User Service

Jenkins 파일 수정
  Jenkinsfile
Due: none

유저 서비스
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/AuthController.java
Due: Build and Deploy User Service

유저 서비스 수정
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/AuthController.java
Due: Build and Deploy User Service

Jenkins
  Jenkinsfile
Due: none

컨트롤러 수정
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/UserController.java
Due: Build and Deploy User Service

refactor : DeploymentCreateInputPort private 메서드로 분리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Build and Deploy Deployment Service

refactor : Project-Service 불필요한 import, 띄어쓰기 제거
  .idea/workspace.xml
  project-service/src/main/java/com/ttalkak/project/common/PersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/common/UseCase.java
  project-service/src/main/java/com/ttalkak/project/common/WebAdapter.java
  project-service/src/main/java/com/ttalkak/project/config/DeploymentFeignClient.java
  project-service/src/main/java/com/ttalkak/project/global/aop/LoggingAspect.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/CreateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/DeploymentOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadProjectOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/BaseEntity.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/DeploymentAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/DeploymentResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/DeleteTransactionConsumer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/ProjectKafkaProducer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/SagaRollBackDomainNameConsumer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectFeignController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/exception/CustomControllerAdvice.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/DomainNameRequest.java
Due: Build and Deploy Project Service

fix : framework 입력받도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentResponse.java
Due: Build and Deploy Deployment Service

refactor : 불필요한 띄어쓰기 삭제
  deployment-service/src/main/java/com/ttalkak/deployment/common/ApiResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/common/BaseEntity.java
Due: Build and Deploy Deployment Service

compose 파일 수정
  docker-compose-prod.yml
  docker-compose.yml
Due: none

run 수정
  Jenkinsfile
Due: none

fix : Jenkinsfile_docker compose 기반으로 실행되도록 수정
  .idea/workspace.xml
  Jenkinsfile
Due: none

fix : Jenkinsfile 수정
  .idea/workspace.xml
  Jenkinsfile
Due: none

fix : DeleteDeploymentRequest 삭제 -> PathVariable 로 받도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentDeleteRequest.java
Due: Build and Deploy Deployment Service

인증 로직 수정
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/AuthController.java
Due: Build and Deploy User Service

게이트웨이 수정
  gateway-service/src/main/java/com/ttalkak/gateway/config/CorsConfig.java
Due: Build and Deploy Gateway Service

samesite 설정
  user-service/src/main/java/com/ttalkak/user/common/util/CookieUtils.java
Due: Build and Deploy User Service

fix : 배포서비스 환경변수 key-value 형식으로 받도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/EnvOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/EnvEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/EnvEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentEditor.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/EnvAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/EnvJpaRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/EnvCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/EnvUpdateRequest.java
Due: Build and Deploy Deployment Service

chore
  .idea/workspace.xml
Due: none

fix : deploymentUpdate 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
Due: Build and Deploy Deployment Service

fix : 배포서비스 파라미터 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DeploymentEvent.java
Due: Build and Deploy Deployment Service

compute 서버 설정 변경
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/SocketSubscribeEventListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/ComputeController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/request/UpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/LoadStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/UpdateStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/StatusService.kt
  gateway-service/src/main/java/com/ttalkak/gateway/config/CorsConfig.java
  user-service/src/main/java/com/ttalkak/user/common/util/CookieUtils.java
Due: Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service

OAUTH 로직 수정
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/security/CustomSuccessHandler.java
Due: Build and Deploy User Service

feat : 배포 상태변경 로직 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDeploymentStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/global/error/ErrorCode.java
  deployment-service/src/main/resources/application.yml
Due: Build and Deploy Deployment Service

fix : 상태변경하는 로직 (소켓서버, 웹 클라이언트) 분리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDeploymentStatusUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDeploymentStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCommandStatusRequest.java
Due: Build and Deploy Deployment Service

feat : EnvResponse 생성
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/EnvEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/EnvResponse.java
  deployment-service/src/main/resources/application.yml
Due: Build and Deploy Deployment Service

feat : dockerhub enviorment 삭제
  Jenkinsfile
Due: none

디렉토리 변경
  deployment-service/build.gradle
  deployment-service/src/main/java/com/ttalkak/deployment/common/aop/LoggingAspect.java
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/exception/BusinessException.java
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/exception/EntityNotFoundException.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/exception/CustomControllerAdvice.java
  deployment-service/src/main/resources/logback-spring.xml
  project-service/src/main/java/com/ttalkak/project/common/aop/LoggingAspect.java
  project-service/src/main/java/com/ttalkak/project/common/error/ErrorCode.java
  project-service/src/main/java/com/ttalkak/project/common/exception/BusinessException.java
  project-service/src/main/java/com/ttalkak/project/common/exception/EntityNotFoundException.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/CreateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/repository/ProjectJpaRepository.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/exception/CustomControllerAdvice.java
Due: Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
