Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Eureka Server, Test Config Server, Test Gateway Service, Test User Service, Test Compute Service, Test Deployment Service, Test Project Service, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test Eureka Server:
                      steps {
                          script {
                              sh """
                              cd eureka-server
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Config Server:
                      steps {
                          script {
                              sh """
                              cd config-server
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Gateway Service:
                      steps {
                          script {
                              sh """
                              cd gateway-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Compute Service:
                      steps {
                          script {
                              sh """
                              cd compute-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

fix : DeploymentCreateRequest githubOwner 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/GithubInfo.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/GithubRepositoryRequest.java
Due: Test Deployment Service, Build and Deploy Deployment Service

feat : DeploymentDetailResponse, DeploymentPreviewResponse _ 버전관련정보 반환하도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/VersionResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

fix : ResponseData String으로 반환하도록 수정 - ProjectService에서 String으로 받기 위해서
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

fix : Project-Service 와 Deployment-Service 데이터 동기화
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/DeploymentResponse.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, Build and Deploy Project Service

fix : Deployment-Project 데이터 동기화
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

Jenkins
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectFeignController.java
Due: Test Deployment Service, Test Project Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Jenkins Rebuild
  .idea/dataSources.local.xml
  compute-service/Dockerfile
  config-server/Dockerfile
  deployment-service/Dockerfile
  eureka-server/Dockerfile
  gateway-service/Dockerfile
  project-service/Dockerfile
  user-service/Dockerfile
Due: Test Eureka Server, Test Config Server, Test Gateway Service, Test User Service, Test Compute Service, Test Deployment Service, Test Project Service, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Jenkins : Gateway Rebuild
  .idea/dataSources.local.xml
  .idea/workspace.xml
  gateway-service/Dockerfile
Due: Test Gateway Service, Build and Deploy Gateway Service

Jenkins : Config-server Rebuild
  config-server/Dockerfile
Due: Test Config Server, Build and Deploy Config Server

Jenkins : Microservice Rebuild
  compute-service/Dockerfile
  deployment-service/Dockerfile
  project-service/Dockerfile
  user-service/Dockerfile
Due: Test User Service, Test Compute Service, Test Deployment Service, Test Project Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Jenkins : Gateway Service rebuild
  gateway-service/Dockerfile
Due: Test Gateway Service, Build and Deploy Gateway Service

Jenkins : Rebuild
  .idea/dataSources.local.xml
  .idea/dataSources.xml
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.xml
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww.meta
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww/schema/information_schema.FNRwLQ.meta
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww/schema/pg_catalog.0S1ZNQ.meta
  .idea/workspace.xml
  compute-service/Dockerfile
Due: Test Compute Service, Build and Deploy Compute Service

알람 서버 도커 컴포즈 추가
  compute-service/build.gradle.kts
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/config/RedisConfig.kt
  docker-compose-prod.yml
  user-service/build.gradle
Due: Test User Service, Test Compute Service, Build and Deploy User Service, Build and Deploy Compute Service

merge
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.corrupted.20240913-113119.reason.txt
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.corrupted.20240913-113119.xml
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

fix : ServiceType Enum으로 변경
  .idea/dataSources.local.xml
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/HostingOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/HostingAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/HostingRepository.java
Due: Test Deployment Service, Build and Deploy Deployment Service

fix : VersionResponse 반환하도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/VersionOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/VersionAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/VersionRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

fix : VersionEntity 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/VersionOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/VersionAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/VersionRepository.java
Due: Test Deployment Service, Build and Deploy Deployment Service

feat : versionResponse 반환
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/VersionAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/VersionRepository.java
Due: Test Deployment Service, Build and Deploy Deployment Service

Update Dockerfile
  deployment-service/Dockerfile
Due: Test Deployment Service, Build and Deploy Deployment Service

fix : Parameter 변수명 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/VersionRepository.java
Due: Test Deployment Service, Build and Deploy Deployment Service

유저 이메일 인증 로직 추가 및 프로필 이미지 수정
  compute-service/build.gradle.kts
  user-service/build.gradle
  user-service/settings.gradle
  user-service/src/main/java/com/ttalkak/user/common/util/Json.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/security/response/CustomOAuthUserFactory.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/security/response/GithubResponse.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/security/response/OAuth2Response.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/stream/KafkaUserListener.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/stream/request/EmailVerifyRequest.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/UserPersistenceAdapter.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/entity/UserEntity.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/entity/UserEntityMapper.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/repository/UserJpaRepository.java
  user-service/src/main/java/com/ttalkak/user/user/application/port/in/UserEmailVerifyUseCase.java
  user-service/src/main/java/com/ttalkak/user/user/application/port/out/SaveUserPort.java
  user-service/src/main/java/com/ttalkak/user/user/application/port/out/VerifyEmailUserPort.java
  user-service/src/main/java/com/ttalkak/user/user/application/service/AuthenticationService.java
  user-service/src/main/java/com/ttalkak/user/user/application/service/CustomOAuth2UserService.java
  user-service/src/main/java/com/ttalkak/user/user/domain/User.java
  user-service/src/main/resources/application.yml
Due: Test User Service, Test Compute Service, Build and Deploy User Service, Build and Deploy Compute Service

컴포즈 파일 수정
  docker-compose-prod.yml
Due: none

로직 수정
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/stream/KafkaUserListener.java
Due: Test User Service, Build and Deploy User Service

유저 서비스 수정
  user-service/src/main/java/com/ttalkak/user/user/application/service/CustomOAuth2UserService.java
Due: Test User Service, Build and Deploy User Service

유저 서비스 수정
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/UserPersistenceAdapter.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/entity/UserEntity.java
Due: Test User Service, Build and Deploy User Service

유저 정보 수정
  user-service/src/main/java/com/ttalkak/user/user/application/service/CustomOAuth2UserService.java
Due: Test User Service, Build and Deploy User Service

유저 서비스
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/entity/UserEntityMapper.java
  user-service/src/main/java/com/ttalkak/user/user/domain/LoginUser.java
Due: Test User Service, Build and Deploy User Service

deployment 코드 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/VersionRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

versions 반환 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

서버
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/entity/UserEntityMapper.java
Due: Test User Service, Build and Deploy User Service

Update Dockerfile
  user-service/Dockerfile
Due: Test User Service, Build and Deploy User Service

fix : userEntityMapper 복구
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/entity/UserEntityMapper.java
Due: Test User Service, Build and Deploy User Service

이메일 인증 서비스 추가 완료
  compute-service/Dockerfile
  gateway-service/src/main/resources/application.yml
  notification-service/.gitignore
  notification-service/build.gradle.kts
  notification-service/gradle/wrapper/gradle-wrapper.jar
  notification-service/gradle/wrapper/gradle-wrapper.properties
  notification-service/gradlew
  notification-service/gradlew.bat
  notification-service/settings.gradle.kts
  notification-service/src/main/kotlin/com/ttalkak/notification/NotificationServiceApplication.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/common/PersistenceAdapter.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/common/StreamAdapter.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/common/UseCase.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/common/WebAdapter.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/config/RedisConfig.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/EmailController.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/request/EmailCodeRequest.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/request/EmailConfirmRequest.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/out/cache/EmailCodeCachePersistenceAdapter.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/out/cache/repository/EmailCodeCacheRepository.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/port/in/ConfirmCodeUseCase.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/port/in/SendCodeUseCase.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/port/out/LoadCodePort.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/port/out/SaveCodePort.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/service/EmailService.kt
  notification-service/src/main/resources/application-dev.yml
  notification-service/src/main/resources/application-prod.yml
  notification-service/src/main/resources/application.yml
  notification-service/src/main/resources/templates/email/verify_member_mail.html
  notification-service/src/test/kotlin/com/example/notification/NotificationServiceApplicationTests.kt
Due: Test Gateway Service, Test Compute Service, Build and Deploy Gateway Service, Build and Deploy Compute Service

이메일 인증 서비스 개발 완료
  notification-service/build.gradle.kts
  notification-service/src/main/kotlin/com/ttalkak/notification/common/util/Json.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/out/cache/repository/EmailCodeCacheRepository.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/out/stream/EmailEventKafkaProducer.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/port/out/VerifyEmailEventPort.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/service/EmailService.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/domain/EmailConfirmEvent.kt
  notification-service/src/main/resources/application.yml
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/AuthController.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/UserController.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/exception/CustomControllerAdvice.java
  user-service/src/main/java/com/ttalkak/user/user/domain/ApiResponse.java
Due: Test User Service, Build and Deploy User Service

feat : 배포 PayloadURL 필드 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  notification-service/gradlew
Due: Test Deployment Service, Build and Deploy Deployment Service

copy : notification-service/gradlew github 원본 복사
  .idea/workspace.xml
  notification-service/gradlew
Due: none

배포 생성용 코드 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookCommand.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentWebHookRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/WebHookCommit.java
Due: Test Deployment Service, Build and Deploy Deployment Service

feat : DetailResponse PayLoadURL 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Test Deployment Service, Build and Deploy Deployment Service

Path conditions:
  Test Eureka Server: any of: eureka-server/**
  Test Config Server: any of: config-server/**
  Test Gateway Service: any of: gateway-service/**
  Test User Service: any of: user-service/**
  Test Compute Service: any of: compute-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
