Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Eureka Server, Test Config Server, Test Gateway Service, Test User Service, Test Compute Service, Test Deployment Service, Test Project Service, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test Eureka Server:
                      steps {
                          script {
                              sh """
                              cd eureka-server
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Config Server:
                      steps {
                          script {
                              sh """
                              cd config-server
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Gateway Service:
                      steps {
                          script {
                              sh """
                              cd gateway-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Compute Service:
                      steps {
                          script {
                              sh """
                              cd compute-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              """
                          }
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

merge
  .idea/compiler.xml
  deployment-service/build.gradle
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/ProjectOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentWebHookRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/VersionRequest.java
  deployment-service/src/main/resources/application.yml
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/support/RestDocsSupport.java
  deployment-service/src/test/resources/application.yml
  deployment-service/src/test/resources/logback-test.xml
Due: Test Deployment Service, Build and Deploy Deployment Service

test : test코드 주석처리:
  .idea/workspace.xml
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, Build and Deploy Deployment Service

test : test 코드 open api로 전환
  deployment-service/src/main/java/com/ttalkak/deployment/DeploymentServiceApplication.java
  deployment-service/src/main/java/com/ttalkak/deployment/config/JpaConfig.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/VersionResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/support/RestDocsSupport.java
  deployment-service/src/test/resources/application.yml
Due: Test Deployment Service, Build and Deploy Deployment Service

test : openapi-3 test코드 변환
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.xml
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww/schema/public.abK9xQ.meta
  .idea/workspace.xml
  deployment-service/.gitignore
  deployment-service/build.gradle
  deployment-service/src/docs/asciidocs/api/deployment/create.adoc
  deployment-service/src/docs/asciidocs/api/deployment/delete.adoc
  deployment-service/src/docs/asciidocs/api/deployment/get.adoc
  deployment-service/src/docs/asciidocs/api/deployment/search.adoc
  deployment-service/src/docs/asciidocs/index.adoc
Due: Test Deployment Service, Build and Deploy Deployment Service

test : docs 분리 중
  .idea/workspace.xml
  docs/.idea/.gitignore
  docs/.idea/docs.iml
  docs/.idea/misc.xml
  docs/.idea/modules.xml
  docs/.idea/swagger-settings.xml
  docs/.idea/vcs.xml
  docs/index.yaml
  docs/ssapick-api-docs.yaml
  docs/ttalkak-deployment-api-docs.yaml
Due: none

test : JenkinsFile 수정
  docs/.idea/.gitignore
  docs/.idea/docs.iml
  docs/.idea/misc.xml
  docs/.idea/modules.xml
  docs/.idea/swagger-settings.xml
  docs/.idea/vcs.xml
  docs/index.yaml
  docs/ssapick-api-docs.yaml
  docs/ttalkak-deployment-api-docs.yaml
Due: none

test : 수정중
  .idea/dataSources.local.xml
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.xml
  .idea/workspace.xml
  Jenkinsfile
  deployment-service/build.gradle
Due: Test Deployment Service, Build and Deploy Deployment Service

test : Project 테스트코드 전체 수정
  .idea/dataSources.local.xml
  .idea/workspace.xml
  docs/.idea/.gitignore
  docs/.idea/docs.iml
  docs/.idea/misc.xml
  docs/.idea/modules.xml
  docs/.idea/swagger-settings.xml
  docs/.idea/vcs.xml
  docs/index.yaml
  docs/ssapick-api-docs.yaml
  docs/ttalkak-deployment-api-docs.yaml
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/ProjectServiceApplication.java
  project-service/src/main/java/com/ttalkak/project/config/JpaConfig.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/DeploymentResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectResponse.java
  project-service/src/test/java/com/ttalkak/project/project/config/RestDocsUtils.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
  project-service/src/test/java/com/ttalkak/project/project/support/RestDocsSupport.java
  project-service/src/test/java/com/ttalkak/project/project/support/RestDocsSupport_temp.java
  project-service/src/test/resources/logback-test.xml
Due: Test Project Service, Build and Deploy Project Service

Jenkins : swagger/swagger-ui 실행하도록 수정
  .idea/compiler.xml
  .idea/workspace.xml
  Jenkinsfile
Due: none

feat : 도메인 키 삭제 - 호스팅 PK로 도메인이름 삭제하도록 구현
  .idea/compiler.xml
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/config/DomainFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DomainOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/DomainAdapterPort.java
Due: Test Deployment Service, Build and Deploy Deployment Service

feat : 도메인 이름 수정한 경우, 도메인 서버에 변경된 이름 데이터베이스에 반영하도록 Feign 전달
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
Due: Test Deployment Service, Build and Deploy Deployment Service

Jenkins : 젠킨스 파일 변경에 따라 문서화 CI되도록 수정
  Jenkinsfile
Due: none

Jenkins : cp permssion denied로 인한 sudo 키워드 추가
  Jenkinsfile
Due: none

JenkinsFile 도큐먼트 서비스 테스트
  deployment-service/Dockerfile
Due: Test Deployment Service, Build and Deploy Deployment Service

Jenkins test
  Jenkinsfile
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, Build and Deploy Deployment Service

Jenkins test
  Jenkinsfile
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
Due: Test Deployment Service, Build and Deploy Deployment Service

jenkins Test
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/ProjectKafkaProducer.java
Due: Test Project Service, Build and Deploy Project Service

Jenkins Test
  docs/deployment-api-docs.yaml
  docs/index.yaml
  docs/project-api-docs.yaml
  docs/ssapick-api-docs.yaml
Due: none

젠킨스 테스트
  Jenkinsfile
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/DeploymentAdapter.java
Due: Test Project Service, Build and Deploy Project Service

Jenkins Test
  Jenkinsfile
  docs/index.yaml
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
Due: Test Project Service, Build and Deploy Project Service

Jenkins Test
  deployment-service/src/main/java/com/ttalkak/deployment/DeploymentServiceApplication.java
Due: Test Deployment Service, Build and Deploy Deployment Service

젠킨스 테스트
  Jenkinsfile
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, Build and Deploy Project Service

Jenkins Test
  Jenkinsfile
Due: none

Update Dockerfile
  deployment-service/Dockerfile
Due: Test Deployment Service, Build and Deploy Deployment Service

Jenkins Test
  Jenkinsfile
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, Build and Deploy Project Service

젠킨스 테스트 - 도커 볼륨 설정 변경
  Jenkinsfile
Due: none

젠킨스 테스트
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, Build and Deploy Project Service

notification 추가
  docker-compose-prod.yml
Due: none

notification 서버
  Jenkinsfile
  notification-service/src/main/resources/templates/email/verify_member_mail.html
Due: none

notification 서버
  notification-service/src/main/kotlin/com/ttalkak/notification/config/RedisConfig.kt
Due: none

notification 서버
  Jenkinsfile
  notification-service/src/main/kotlin/com/ttalkak/notification/config/RedisConfig.kt
Due: none

notification 서버 수정
  Jenkinsfile
  notification-service/Dockerfile
  notification-service/Dockerfile.prod
  notification-service/src/main/kotlin/com/ttalkak/notification/config/RedisConfig.kt
Due: none

feat : 배포 수정 도메인 이름 변경 알림
  .idea/ddalkak.iml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, Build and Deploy Deployment Service

이메일 템플릿 변경
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/EmailController.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/request/EmailCodeRequest.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/port/in/SendCodeUseCase.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/service/EmailService.kt
  notification-service/src/main/resources/templates/email/verify_member_mail.html
Due: none

compute 서버 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
Due: Test Compute Service, Build and Deploy Compute Service

test : Update추가
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, Build and Deploy Deployment Service

compute 서버 수조정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeRunningRequest.kt
Due: Test Compute Service, Build and Deploy Compute Service

Path conditions:
  Test Eureka Server: any of: eureka-server/**
  Test Config Server: any of: config-server/**
  Test Gateway Service: any of: gateway-service/**
  Test User Service: any of: user-service/**
  Test Compute Service: any of: compute-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
